<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyConnectionString" connectionString="Data Source=DESKTOP-M1Q5K3V;Initial Catalog=payrollProject;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
	<appSettings>
		<add key="GoogleMapApiUrl" value="https://maps.googleapis.com/" />
		<add key="GoogleMapApiKey" value="AIzaSyC4AQ8ez1KplxSIIOyRu4Kw20di-gi9EJ8" />
		<add key="DestinationEmployeeImagePath" value="C:\Users\azuce\Desktop\Capstone Files\Capstone Project\Payroll Project\Payroll_Project2\Image\User Images\" />
		<add key="DestinationEmployeeSignaturePath" value="C:\Users\azuce\Desktop\Capstone Files\Capstone Project\Payroll Project\Payroll_Project2\Image\User Signatures\" />
		<add key="DestinationDepartmentImagePath" value="C:\Users\azuce\Desktop\Capstone Files\Capstone Project\Payroll Project\Payroll_Project2\Image\Department Logo\" />
		<add key="DefaultLogo" value="C:\Users\azuce\Desktop\Capstone Files\Capstone Project\Payroll Project\Payroll_Project2\Image\Department Logo\initao-logo.jpg" />
		<add key="DefaultLeaveEvent" value="Application for Leave" />
		<add key="DefaultSlipEvent" value="Pass Slip" />
		<add key="DefaultTravelEvent" value="Travel Order" />
		<add key="DefaultLeaveStatus" value="On Leave" />
		<add key="DefaultSlipStatus" value="Pass Slip" />
		<add key="DefaultTravelStatus" value="Travel Order" />
		<add key="DefaultLeaveTitle" value="Application for Leave" />
		<add key="DefaultSlipTitle" value="Pass Slip" />
		<add key="DefaultTravelTitle" value="Travel Order" />
		<add key="DefaultSlipHours" value="4:00:00" />
		<add key="ApproveStatus" value="Approved" />
		<add key="PayslipApproveStatus" value="Officially Approved to Release" />
		<add key="DeniedStatus" value="Denied" />
		<add key="PendingStatus" value="Pending" />
		<add key="MonthlyToAnnualTitle" value="Converting Monthly to Annual Salary" />
		<add key="TaxValuePerMonthTitle" value="Tax Value Per Month" />
		<add key="BasicAnnualSalaryTitle" value="Getting the Basic Annual Salary" />
		<add key="AnnualValueDeductionsTitle" value="Annual Value Deductions" />
		<add key="DefaultCustomSchedule" value="Daily" />
		<add key="DefaultNumberOfYearsToIncreaseStep" value="3" />
		<add key="DefaultNameOfCompany" value="Local Government Unit of Initao" />
		<add key="DefaultAddress" value="Jampason, Initao, Misamis Oriental" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
